.items {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 755px) {
  .items {
    justify-content: center;
  }
  .collection-page {
    text-align: center;
  }
}
